# Jekyll generated output
/_site/

# Sass
.sass-cache/

# No need for old images and themes and other junk to be versioned
/blog/wp-content/
/images/
/social/
/webdev/
/lastfm/
/style/

# CV is built by LaTeX
/cv/muller_cv.pdf
