//= require vendor/meyer

/* http://chir.ag/projects/name-that-color/
$biscay: #20406f
$botticelli: #d0dae9
$mineshaft: #333
$shiraz: #a50827

@import "compass"

body
  background: $botticelli
  color: $mineshaft

h1, h2, h3, h4, h5, h6
  font-weight: bold

h1
  font-size: 2em

a
  color: $biscay
  &:visited
    color: darken($biscay, 4)
