---
layout: main
body: archive
---

<p>xzz
	{% for year in (2007..2012) reversed %}
		<a href="../{{ year }}/">{{ year }}</a>{% if forloop.last == false %} &bull; {%endif %}
	{% endfor %}
</p>

<p>These are posts I wrote in {{ page.year }}.</p>

{% for m in (1..12) reversed %}
	{% if page.collated_posts[page.year][m] %}
		<h3>{{ m | date_to_month }}</h3>
		<ol>
		{% for d in (1..31) reversed %}
			{% if page.collated_posts[page.year][m][d] %}
				{% for p in page.collated_posts[page.year][m][d] reversed %}
					<li><strong>{{ p.date | date: "%d" }}</strong> <a href='{{ p.url }}'>{{ p.title }}</a></li>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</ol>
	{% endif %}
{% endfor %}
